<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>

{{>nav}}


<main role="main" class="container">

  <div class="starter-template">
    <h1>Bolao do Coronga</h1>
    <p class="lead">Vote agora em quem vai pegar o coronga primeiro.</p>
    <div class="tenor-gif-embed" data-postid="16787280" data-share-method="host" data-width="100%" data-aspect-ratio="1.8863636363636367"><a href="https://tenor.com/view/coffin-dance-ricky-sunglasses-friends-squad-gif-16787280">Coffin Dance Ricky GIF</a> from <a href="https://tenor.com/search/coffindance-gifs">Coffindance GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </div>

</main>
</body>
</html>
