<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>

{{>nav}}


<main role="main" class="container">

  <div class="starter-template">
    <h1>Voce nao esta logado</h1>
    <p class="lead">
      <a href="/auth/twitter"> <img src="img/twitter.png"></a>
    </p>
    
   </div>

</main>
</body>
</html>
