    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Bolão do Coronga</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/ranking"> Ranking <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/voto"> Vote Agora <span class="sr-only"></span></a>
      </li>


    </ul>
    {{#user}}
    <a href="/auth/logout">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
    </a>
    {{/user}}
    {{^user}}
    <a href="/auth/twitter">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
    </a>
    {{/user}}

  </div>
</nav>