<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>

{{>nav}}


<main role="main" class="container">

  <div class="starter-template">
    <h1>Ranking do Coronga</h1>
    <p class="lead">ihuuu</p>
    <div class="tenor-gif-embed" data-postid="16728482" data-share-method="host" data-width="100%" data-aspect-ratio="1.7785714285714287"><a href="https://tenor.com/view/dancing-coffin-dancing-happy-fun-celebrating-gif-16728482">Dancing Coffin Happy GIF</a> from <a href="https://tenor.com/search/dancingcoffin-gifs">Dancingcoffin GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </div>

</main>
</body>
</html>
