<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>

{{>nav}}


<main role="main" class="container">

  <div class="starter-template">
    <h1>Bem vindo meu consagrado {{user}} </h1>
    
    <p class="lead">Vote agora em quem vai pegar o coronga primeiro.</p>
<form action="/salvarvoto">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="nomevotado" id="inlineRadio1" value="Topera">
    <label class="form-check-label" for="inlineRadio1">Topera</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="nomevotado" id="inlineRadio1" value="Ximito">
    <label class="form-check-label" for="inlineRadio1">Ximito</label>
  </div>

  <input type="submit" value="Submit">

</form>
 </div>

</main>
</body>
</html>
